<%- include('partials/header') -%>
<link rel="stylesheet" href="\css\post.css"></link>

<div class="container">

  <div class="row justify-content-center mt-5">
    <div class="col-6">
      
      <p><%= user.userName %></p>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row" id="main-post-buttons">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        
        <% if (true) { %>
        <button id="toggleCommentForm" class="btn btn-primary fa fa-comment"></button>
              <% } %>
              <p class = "likecount"><%= post.likes %> likes</p>
              <p class = "datecreated"><%= post.createdAt.toDateString()%></p>
              
      </div>

      <% if (post.user == user.id) { %>
      <form
        action="/post/deletePost/<%= post.id %>?_method=DELETE"
        method="POST"
        id="deletePostForm"
      >
        <button class="btn btn-primary " type="submit" id="deletePostBtn">Delete Post</button>

      </form>
      <% } %>

      <% if (true) { %>
        <form
          action="/post/<%= post.id %>/comment"
          method="POST"
          id="commentForm"
          style="display: none;"
        >
          <span>Add comment:</span> <input type="text" name="comment" required />
          <button type="submit" class = "submit-comment">Submit</button> 
        </form>
      <% } %>

      <p><strong><%= user.userName %></strong>: <%= post.caption %></p>
      <button id="toggleComments" class="btn btn-primary">View <%= post.commentCount %> Comments</button>

      <div class="comments" id="commentsSection" style="display: none;">
        <% post.comments.forEach(comment => { %>
          <div class="comment" data-comment-id="<%= comment._id %>">
            <p>
              <strong><%= comment.userID.userName %></strong>: <%= comment.text %>
            </p>
            <span class="comment-created-at"><%= comment.created.toDateString() %></span>

          
            <% if (comment.userID.equals(user._id)) { %>
              <form
                class="delete-comment-form"
                action="/post/deleteComment/<%= post.id %>/<%= comment._id %>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-primary fa-regular fa-trash-can" id = "delete-comment-button" type="submit">Delete</button>
              </form>
            <% } %>
          </div>
        <% }) %>
      </div>      
    </div>
  </div>
</div>

<div class="mt-5" id="return">
  <a class="btn btn-primary" href="/profile">Return to Profile</a>
  <a class="btn btn-primary" href="/feed">Return to Feed</a>
</div>

<script>
  const toggleCommentFormBtn = document.getElementById('toggleCommentForm');
  const commentForm = document.getElementById('commentForm');

  const toggleCommentsBtn = document.getElementById('toggleComments');
  const commentsSection = document.getElementById('commentsSection');

  const deletePostBtn = document.getElementById('deletePostBtn');
  const deletePostForm = document.getElementById('deletePostForm');


  toggleCommentFormBtn.addEventListener('click', () => {
    commentForm.style.display = commentForm.style.display === 'none' ? 'flex' : 'none';
  });

  toggleCommentsBtn.addEventListener('click', () => {
    commentsSection.style.display = commentsSection.style.display === 'none' ? 'block' : 'none';
  });


  deletePostBtn.addEventListener('click', () => {
    event.preventDefault(); // Prevents the default form submission
    const confirmDelete = confirm('Are you sure you want to delete this post?');

    if (confirmDelete) {
      deletePostForm.submit();
    }else {
      console.log('Post deletion cancelled.');
    }

  })
  

  const deleteCommentForms = document.querySelectorAll('.delete-comment-form');
  deleteCommentForms.forEach(form => {
    form.addEventListener('submit', async event => {
      event.preventDefault();
      const commentId = form.closest('.comment').getAttribute('data-comment-id');
      try {
        await fetch(form.action, { method: 'DELETE' });
        document.querySelector(`[data-comment-id="${commentId}"]`).remove();
      } catch (error) {
        console.error(error);
      }
    });
  });

  deleteCommentBtn.addEventListener('click', async () => {
 
});


  
</script>

<%- include('partials/footer') -%>
